@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background: url("background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.navbar a {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin-left: 2.5rem;
  text-decoration: none;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.125rem;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}
